@import "./scss/mixins.scss";
@import "./scss/_text.scss";
@import "./scss/inputs.scss";

:root {
	--color-bg: #ffffff;
	--color-fg: #000000;
	--color-accent: #e6007a;
	--color-accent-light: deeppink;
	--color-accent-dark: #b40060;
	--color-accent-highlight: #ff149175;

	--aspect-ratio: 4 / 3;
	--default-color: #9e9e9e;
	--default-dark-color: #565656;

	--disabled-color: #dfdfdf56;
	--disabled-color-accent: #e6007b40;

	--color-bg-video: #131319;
	--modal-background: #000000f5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #1f1e27;
		--color-fg: #ffffff;
		--color-accent: #f33f9f;
		--color-accent-light: #f66bb5;
		--color-accent-dark: #ff1692;
		--color-accent-highlight: #ff14912d;

		--disabled-color: #56565656;
		--disabled-color-accent: #f33f9f40;

		--modal-background: #000000b5;
	}
}

@media (orientation: portrait) {
	:root {
		--aspect-ratio: 9 / 16;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: var(--color-fg);
}

*:focus {
	outline: 2px solid var(--color-accent) !important;
}

::selection {
	background: var(--color-accent-highlight);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--color-bg);
}

#root {
	width: 100%;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

footer {
	position: fixed;
	color: var(--color-fg);
	bottom: 2%;
	left: 50%;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	transform: translateX(-50%);
}

.center-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0 0.15rem;
}

.flex-column {
	flex-direction: column;
}

.accent {
	color: var(--color-accent);
}

.room-input-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 2rem 0;
}

#my-video {
	position: fixed;
	bottom: 0;
	right: 0;
	aspect-ratio: 16 / 9;
}

.video-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.25rem;

	&.grid-3 video {
		max-height: 33vh;
	}
}

.row {
	width: 100%;
	align-items: center;
	gap: 0.25rem;
	justify-content: center;
	display: flex;
	flex-wrap: nowrap;
}

.row > * {
	flex: 1 1 0;
}

video {
	min-width: 0rem;
	background-color: var(--color-bg-video);
	max-height: 50vh;
	display: block;
}

.modal-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	background: var(--modal-background);
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.modal {
	padding: 1rem 2rem;
	background: var(--color-bg);
	border-radius: 10px;
}

.modal-close {
	position: fixed;
	top: 1%;
	right: 1%;
	background: none;
	box-shadow: none;

	&:hover {
		background: none;
	}

	&:focus {
		background: none;
	}
}

@media only screen and (max-width: 540px) {
	.center-container {
		align-items: flex-start;
		text-align: start;
	}

	.room-input-container {
		flex-direction: column;
		align-items: flex-start;
	}
}
